
.apply{
  background-color: #762B1B;
  color : white;
  border-radius: 2;
  border: solid;
}
input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.job{

display:none;
margin-top: 1em;

}
